<%if @ideas.any? %>
  <ul>
    <% @ideas.each do |idea|%>
      <li>
        <p><%= link_to idea.name, idea_path(idea) %></p>
        <i class = "tiny mdi-action-thumb-up">0</i><i class = "tiny mdi-action-thumb-down">0</i>
      </li>
    <% end %>
  </ul>
<% else %>
No ideas yet

<% end %>
<% if user_signed_in? %>
  <a href="/ideas/new" class="waves-effect waves-light btn">Add an idea</a>
<% end %>